
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="persona.name">
<p class="message-error" [class.invalid] = "nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="persona.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">En este parrafo se modifica el estilo de manera directa dependiendo si el nameInput3 es valido o invalido</p>

<div>
  <div></div>
  <div></div>
</div>

<hr>



<h1>ngSwitch</h1>
<input type="text" required  [(ngModel)]="persona.name">
<div [ngSwitch] = "persona.name">
<p *ngSwitchCase="'Fabian'">La persona es Fabian</p>
<p *ngSwitchCase="'Julian'">La persona es Julian</p>
<p *ngSwitchCase="'Ricardo'">La persona es Ricardo</p>
<p *ngSwitchDefault>No hace match</p>
</div>


<h1>*ngFor Objs</h1>
<div class = "products--grid">
  <div *ngFor= "let Producto of Productos">
    <img [src]="Producto.imagen" alt="imagen">
    <h2>{{Producto.precio}}</h2>
    <p>{{Producto.nombre}}</p>
  </div>
</div>


<hr>
<h1>*ngFor</h1>
<input type="text" required  [(ngModel)]="newName">
<button (click) = "addName()">Add name</button>
<ul>
  <li *ngIf="emojis.length === 0">NO HAY EMOJIS</li>
  <li *ngFor = "let name of emojis; index as i">
    {{i}} {{name}}
    <button (click)="delName(i)">Delete</button>
  </li>
</ul>
<hr>

<h1>*ngIf</h1>
<input type="text" required  [(ngModel)]="persona.name">
<input type="number" required  [(ngModel)]="persona.age">
<p *ngIf="persona.name === 'Fabian'">74999232</p>

<p *ngIf="persona.name === 'Julian' && persona.age === 18; else myBlock">55566644</p>
<ng-template #myBlock>
  <p>
    Bloque de else
  </p>
</ng-template>
<hr>

<h1>NgModel</h1>
<p>Nombre: {{persona.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="persona.name">
<p>Valid: {{nameInput.valid}}</p>

<p>Edad: {{persona.age}}</p>
<input type="number" max="18" min="10" #ageInput="ngModel" [(ngModel)]="persona.age">
<p>Valid: {{ageInput.valid}}</p>
<hr>
<h1>EVENTOS</h1>
<button [disabled] = "btnDisabled">Enviar</button>
<button (click) = "toggleButton()">Toggle Button</button>
<p>Edad {{persona.age}}</p>
<button (click) = "PlusButton()">+</button>

<!--Otros eventos que se pueden escuchar clase 9-->
<div class="box" (scroll) = "onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque nihil beatae quidem placeat numquam commodi sequi doloribus veniam iusto quod, necessitatibus harum totam cum unde accusamus repudiandae quas iste. Modi.
  </p>
</div>
<hr>
<h1>Propiedades</h1>

<p>Nombre: {{persona.name}}</p>
<input type="text" [value]="persona.name"(keyup) = "changeName($event)">
<progress max = "100" [value] ="persona.age"></progress>
<img width="200" [src]="persona.avatar">
<hr/>
<h1>Hola mundo</h1>
<h2>{{'Hola mundo '.repeat(5)}}</h2>
<p> 3 + 3 = {{ 3 + 3}}</p>

<h3>Hola soy {{name}} y tengo {{age}} años</h3>

<img width="200" src={{img}} alt="image">
<hr>