.box {
    height: 100px;
    width: 100px;
    overflow: auto;
    background: red;
}
.products--grid{
 display: flex;
 flex-direction: column;
    div{
        img{
            width: 100%;
            border-radius: 10px;
        }
        h2, p{
            margin:0;
        }
    }
}

@media screen and (min-width: 40em){
    .products--grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px; 
    }
}

@media (min-width: 30em) and (max-width: 40em){
    .products--grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px; 
    }
}
.message-error{
    background: red;
    color:white;
    opacity: 0;
    transition: all linear .5s;
    &.invalid{
        opacity: 1;
    }
}
.styles{
    display: grid;
    grid-template-columns: 2, 1fr;
}
.line-error{
    height: 0;
    border-bottom: 1px solid;
    &.invalid{
        transition: all linear .5s;
        border-color: red;
    }
    &.valid{
        transition: all linear .5s;
        border-color: green;
    }
    
}